USE [master]
GO
/****** Object:  Database [QuanLyNhaHang_K235480106047]    Script Date: 02/05/2026 11:32:15 AM ******/
CREATE DATABASE [QuanLyNhaHang_K235480106047]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyNhaHang_K235480106047', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QuanLyNhaHang_K235480106047.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyNhaHang_K235480106047_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QuanLyNhaHang_K235480106047_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyNhaHang_K235480106047].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyNhaHang_K235480106047]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_BaoCaoDoanhThuNhanVien]    Script Date: 02/05/2026 11:32:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_BaoCaoDoanhThuNhanVien] ()
RETURNS @BangThongKe TABLE (
    MaNV VARCHAR(10),
    HoTen NVARCHAR(100),
    SoHoaDonDaLap INT,
    TongDoanhThu DECIMAL(18, 2),
    DanhGia NVARCHAR(50)
)
AS
BEGIN
    -- 1. Đổ dữ liệu tính toán vào bảng biến @BangThongKe
    INSERT INTO @BangThongKe (MaNV, HoTen, SoHoaDonDaLap, TongDoanhThu)
    SELECT 
        nv.MaNV, 
        nv.HoTen, 
        COUNT(hd.MaHD), 
        ISNULL(SUM(hd.TongTien), 0)
    FROM NhanVien nv
    LEFT JOIN HoaDon hd ON nv.MaNV = hd.MaNV
    GROUP BY nv.MaNV, nv.HoTen;
    -- 2. Thực hiện logic phức tạp: Cập nhật cột DanhGia dựa trên doanh thu
    UPDATE @BangThongKe
    SET DanhGia = CASE 
        WHEN TongDoanhThu >= 50000000 THEN N'Xuất sắc'
        WHEN TongDoanhThu >= 20000000 THEN N'Tốt'
        WHEN TongDoanhThu > 0 THEN N'Đạt yêu cầu'
        ELSE N'Chưa có doanh số'
    END;
    RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhTongTienHoaDon]    Script Date: 02/05/2026 11:32:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_TinhTongTienHoaDon] (@MaHD INT)
RETURNS DECIMAL(18, 2)
AS
BEGIN
    DECLARE @TongTien DECIMAL(18, 2);

    -- Tính tổng bằng cách sum (Số lượng * Đơn giá) từ bảng chi tiết
    SELECT @TongTien = SUM(SoLuong * DonGia)
    FROM ChiTietHoaDon
    WHERE MaHD = @MaHD;

    -- Nếu hóa đơn chưa có món nào (NULL), trả về 0
    RETURN ISNULL(@TongTien, 0);
END;
GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 02/05/2026 11:32:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[MaMon] [int] IDENTITY(1,1) NOT NULL,
	[TenMon] [nvarchar](100) NOT NULL,
	[MaDanhMuc] [int] NULL,
	[GiaTien] [decimal](18, 2) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 02/05/2026 11:32:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaCTHD] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NULL,
	[MaMon] [int] NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ChiTietHoaDonTheoMa]    Script Date: 02/05/2026 11:32:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_ChiTietHoaDonTheoMa] (@MaHD INT)
RETURNS TABLE
AS
RETURN (
    SELECT 
        ct.MaHD,
        m.TenMon,
        ct.SoLuong,
        ct.DonGia,
        (ct.SoLuong * ct.DonGia) AS ThanhTien
    FROM ChiTietHoaDon ct
    JOIN MonAn m ON ct.MaMon = m.MaMon
    WHERE ct.MaHD = @MaHD
);
GO
/****** Object:  Table [dbo].[BanAn]    Script Date: 02/05/2026 11:32:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BanAn](
	[MaBan] [int] IDENTITY(1,1) NOT NULL,
	[SoBan] [varchar](10) NOT NULL,
	[SucChua] [int] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 02/05/2026 11:32:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatBan]    Script Date: 02/05/2026 11:32:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatBan](
	[MaDatBan] [int] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NULL,
	[ThoiGianDat] [datetime] NULL,
	[MaBan] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDatBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 02/05/2026 11:32:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [datetime] NULL,
	[MaBan] [int] NULL,
	[MaNV] [varchar](10) NULL,
	[TongTien] [decimal](18, 2) NULL,
	[TrangThaiThanhToan] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 02/05/2026 11:32:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[ChucVu] [nvarchar](50) NULL,
	[SoDienThoai] [varchar](15) NULL,
	[Luong] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonAn] ([MaMon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[DatBan]  WITH CHECK ADD FOREIGN KEY([MaBan])
REFERENCES [dbo].[BanAn] ([MaBan])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaBan])
REFERENCES [dbo].[BanAn] ([MaBan])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMuc] ([MaDanhMuc])
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatGiaMonAn]    Script Date: 02/05/2026 11:32:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CapNhatGiaMonAn]
    @MaMon INT,
    @GiaMoi DECIMAL(18, 2)
AS
BEGIN
    -- 1. Kiểm tra điều kiện logic: Giá mới phải lớn hơn 0
    IF @GiaMoi <= 0
    BEGIN
        PRINT N'Lỗi: Giá tiền phải là số dương lớn hơn 0.';
        RETURN; -- Thoát thủ tục, không thực hiện tiếp
    END
    -- 2. Kiểm tra điều kiện logic: Món ăn có tồn tại trong hệ thống không
    IF NOT EXISTS (SELECT 1 FROM MonAn WHERE MaMon = @MaMon)
    BEGIN
        PRINT N'Lỗi: Không tìm thấy món ăn có mã số ' + CAST(@MaMon AS VARCHAR);
        RETURN;
    END
    -- 3. Thực hiện lệnh UPDATE nếu các điều kiện trên đều thỏa mãn
    UPDATE MonAn
    SET GiaTien = @GiaMoi
    WHERE MaMon = @MaMon;
    PRINT N'Cập nhật giá món ăn thành công!';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DemHoaDonNhanVien]    Script Date: 02/05/2026 11:32:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DemHoaDonNhanVien]
    @MaNV VARCHAR(10),
    @TongSoHD INT OUTPUT -- Tham số đầu ra để trả giá trị về
AS
BEGIN
    -- 1. Kiểm tra logic: Nhân viên phải tồn tại
    IF EXISTS (SELECT 1 FROM NhanVien WHERE MaNV = @MaNV)
    BEGIN
        -- 2. Tính toán và gán giá trị vào tham số OUTPUT
        SELECT @TongSoHD = COUNT(*) 
        FROM HoaDon 
        WHERE MaNV = @MaNV;
        
        PRINT N'Đã tính toán xong số lượng hóa đơn.';
    END
    ELSE
    BEGIN
        SET @TongSoHD = 0;
        PRINT N'Lỗi: Mã nhân viên không tồn tại.';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LayChiTietHoaDonTheoBan]    Script Date: 02/05/2026 11:32:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_LayChiTietHoaDonTheoBan]
    @MaBan INT
AS
BEGIN
    -- 1. Kiểm tra logic: Xem bàn này có hóa đơn nào chưa thanh toán không
    IF EXISTS (SELECT 1 FROM HoaDon WHERE MaBan = @MaBan AND TrangThaiThanhToan = N'Chưa thanh toán')
    BEGIN
        -- 2. Thực hiện lệnh SELECT JOIN nhiều bảng để trả về Result Set
        SELECT 
            hd.MaHD,
            b.SoBan,
            nv.HoTen AS NhanVienPhucVu,
            m.TenMon,
            ct.SoLuong,
            ct.DonGia,
            (ct.SoLuong * ct.DonGia) AS ThanhTien,
            hd.NgayLap
        FROM HoaDon hd
        INNER JOIN BanAn b ON hd.MaBan = b.MaBan
        INNER JOIN NhanVien nv ON hd.MaNV = nv.MaNV
        INNER JOIN ChiTietHoaDon ct ON hd.MaHD = ct.MaHD
        INNER JOIN MonAn m ON ct.MaMon = m.MaMon
        WHERE hd.MaBan = @MaBan AND hd.TrangThaiThanhToan = N'Chưa thanh toán'
        ORDER BY ct.MaCTHD ASC;
    END
    ELSE
    BEGIN
        PRINT N'Thông báo: Bàn số ' + CAST(@MaBan AS VARCHAR) + N' hiện đang trống hoặc đã thanh toán.';
    END
END;
GO
USE [master]
GO
